body {
    min-height: 75rem;
    /* Can be removed; just added for demo purposes */
}

.navbar {
    margin-bottom: 0;
}

.about-me {
    padding-top: 9rem;
    padding-bottom: 35rem;
    margin-bottom: 0;
    background-color: #fff;
    background-image: url('./assets/images/jumboback.jpeg');
    background-attachment: fixed;
}

.jumbotron-fluid p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
    text-shadow: 2px 2px 4px #202020;
    color: rgb(255, 254, 254);
}

.jumbotron-fluid .box-of-me {
    max-width: 40rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.795)
}

.portrait {
    width: 9rem;
}

.album {
    min-height: 33rem;
    /* Can be removed; just added for demo purposes */
    background-color: #002331;
}

img {
    width: auto;
}

.card {
    float: left;
    width: 33.333%;
    padding: 0.75rem;
    margin-bottom: 2rem;
    border: 0;
}

.card>img {
    margin-bottom: 0.75rem;
}

.card-text {
    font-size: 85%;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: 0.25rem;
}

.lead {
    color: white;
    text-shadow: 2px 2px 4px #030303;
}